.Products {
    width: 100%;
    padding: 10px 10px;
    background-color: #F7F7F7;
}


.produtcts-header {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    padding: 30px 0;
}

.produtcts-header h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222;
    position: relative;
    margin-bottom: 5px;
}



.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px 20px;
}



@media (max-width:1000px) {
    .products-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width:500px) {
    .Products {
        padding: 10px 0;
    }

    .produtcts-header {
        padding: 20px 0;
    }

    .produtcts-header h1 {
        font-size: 1.3rem;
    }

    .products-container {
        padding: 10px 10px;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

