.Topbar {
    width: 100%;
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 0.9rem;
}


.Tobar-left p {
    font-size: clamp(0.6rem, 1.9vw, 1rem);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.Tobar-left p span {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    transition: text-decoration 0.2s ease-in-out;
}

.Tobar-left p span:hover {
    text-decoration: none;
}



.Topbar-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    cursor: pointer;
}

.Topbar-right ul li:last-child {
    display: flex;
    align-items: center;
    gap: 2px;
    color: white;
}

.Topbar-right ul li:last-child span {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.Topbar-right ul span {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.322);
}


.Topbar * {
    transition: all 0.3s ease;
}

@media (max-width: 1100px) {
    .Topbar-right ul {
        gap: 10px;
    }
}


@media (max-width: 1000px) {
    .Topbar-right {
        display: none;
    }
    .Topbar {
        justify-content: center;
    }
    
}

@media (max-width: 500px) {
    .Topbar {
        padding: 5px 10px;
    }
    .Tobar-left p {
        font-size: 0.5rem;
    }
}


