.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  width: 100%;
  max-width: 380px;
  border-radius: 14px;
  padding: 20px;
  animation: popIn 0.25s ease;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1rem;
  color: #111;
  font-weight: 600;
}

.close-btn {
  font-size: 1.4rem;
  cursor: pointer;
  color: #777;
}

.close-btn:hover {
  color: #000;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatar-preview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
}

.upload-btn {
  font-size: 0.75rem;
  color: #3498db;
  cursor: pointer;
}

.upload-btn:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 0.75rem;
  color: #555;
}

.input-group input {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.85rem;
  outline: none;
}

.input-group input:focus {
  border-color: #111;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancel-btn {
  background: #eee;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.75rem;
  cursor: pointer;
}

.save-btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.75rem;
  cursor: pointer;
}

.save-btn:hover {
  background: #333;
}

.save-btn-loading {
    background-color: gray;
    cursor:not-allowed;
}


/* Mobile */
@media (max-width: 480px) {
  .modal-box {
    margin: 0 12px;
  }
}
